<header class="main-header">
  <div class="title">
    <h1 class="header-h1">Welcome to Dojo Projects!</h1>
    <h4 class="header-h4">A community maintained, one-stop shop for all Coding Dojo student projects</h4>
    <br>
    <%= button_to('You must be signed in to view and upload projects!', '/auth/github') %>
    <button class='.btn-default'>test</button>
  </div>

</header>
